<html>
    <head>
        <title>WoW DPS Sim - Init</title>
    </head>

    <body>
        <form action="/main" method="GET">
            <table>
                <tr>
                    <td>Expansion</td>
                    <td>
                        <select name="expansion">
                            <option value="vanilla">Vanilla</option>
                            <option value="burning_crusade">Burning Crusade</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Item set</td>
                    <td>
                        <select name="item_set">
                            <option value="vanilla/data_pre_raid_bis.json">Vanilla Pre Raid BIS</option>
                            <option value="vanilla/data_naxx_bis.json">Vanilla Naxx BIS</option>
                            <option value="burning_crusade/data_pre_raid_bis.json">BC Pre Raid BIS</option>
                            <option value="burning_crusade/data_pre_raid_bis_old.json">BC Pre Raid BIS old</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Item database</td>
                    <td>
                        <select name="scraper_item_db">
                            <option value="vanillawowdb.com">vanillawowdb.com</option>
                            <option value="classicdb.ch">classicdb.ch</option>
                            <option value="tbc.cavernoftime.com">tbc.cavernoftime.com</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Next">
        </form>
    </body>
</html>
