<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
        <link type="text/css" href="{{url_for('static', filename='css/alpaca.min.css')}}" rel="stylesheet" />
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/handlebars.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/alpaca.min.js')}}"></script>

        <title>WoW DPS Sim - Main</title>
    </head>

    <body>
        <div id="form"></div>
        <div id="stats"></div>
        <div id="sim_results"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#form").alpaca({
                    "schemaSource": "{{url_for('static', filename='alpaca/' + expansion + '/schema.json')}}",
                    "dataSource": "{{url_for('static', filename='alpaca/' + item_set)}}",

                    "options": {
                        "form":{
                            "buttons": {
                                "calc_stats": {
                                    "title": "Calc stats",
                                    "click": function() {
                                        fetch("/main/calc_stats", {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json",
                                            },
                                            body: JSON.stringify(this.getValue()),
                                        })
                                        .then(response => response.text())
                                        .then(text => $("#stats").html(text));
                                    }
                                },
                                "sim": {
                                    "title": "Simulate",
                                    "click": function() {
                                        fetch("/main/sim", {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json",
                                            },
                                            body: JSON.stringify(this.getValue()),
                                        })
                                        .then(response => response.text())
                                        .then(text => $("#sim_results").html(text));
                                    }
                                }
                            }
                        },
                        "fields": {
                            "faction": {
                                "type": "select",
                                "optionLabels": ["Alliance", "Horde"]
                            },
                            "race": {
                                "type": "select",
                                "optionLabels": ["Dwarf", "Gnome", "Human", "Nightelf", "Orc", "Tauren", "Troll", "Undead"]
                            },
                            "class": {
                                "type": "select",
                                "optionLabels": ["Druid", "Hunter", "Mage", "Paladin", "Priest", "Rogue", "Shaman", "Warlock", "Warrior"]
                            },
                            "spec_druid": {
                                "type": "select",
                                "optionLabels": ["Balance", "Feral Combat", "Restoration"],
                                "dependencies": {
                                    "class": "druid"
                                }
                            },
                            "spec_hunter": {
                                "type": "select",
                                "optionLabels": ["Beast Mastery", "Marksmanship", "Survival"],
                                "dependencies": {
                                    "class": "hunter"
                                }
                            },
                            "spec_mage": {
                                "type": "select",
                                "optionLabels": ["Arcane", "Fire", "Frost"],
                                "dependencies": {
                                    "class": "mage"
                                }
                            },
                            "spec_paladin": {
                                "type": "select",
                                "optionLabels": ["Holy", "Protection", "Retribution"],
                                "dependencies": {
                                    "class": "paladin"
                                }
                            },
                            "spec_priest": {
                                "type": "select",
                                "optionLabels": ["Discipline", "Holy", "Shadow"],
                                "dependencies": {
                                    "class": "priest"
                                }
                            },
                            "spec_rogue": {
                                "type": "select",
                                "optionLabels": ["Assassination", "Combat", "Subtlety"],
                                "dependencies": {
                                    "class": "rogue"
                                }
                            },
                            "spec_shaman": {
                                "type": "select",
                                "optionLabels": ["Elemental", "Enhancement", "Restoration"],
                                "dependencies": {
                                    "class": "shaman"
                                }
                            },
                            "spec_warlock": {
                                "type": "select",
                                "optionLabels": ["Affliction", "Demonology", "Destruction"],
                                "dependencies": {
                                    "class": "warlock"
                                }
                            },
                            "spec_warrior": {
                                "type": "select",
                                "optionLabels": ["Arms", "Fury", "Protection"],
                                "dependencies": {
                                    "class": "warrior"
                                }
                            },

                            "expansion": {
                                "type": "hidden"
                            },
                            "scraper_item_db": {
                                "type": "hidden"
                            }
                        }
                    },

                    "data": {
                        "expansion": "{{expansion}}",
                        "scraper_item_db": "{{scraper_item_db}}"
                    }
                });
            });
        </script>
    </body>
</html>
