<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
        <link type="text/css" href="{{url_for('static', filename='css/alpaca.min.css')}}" rel="stylesheet" />
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/handlebars.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/alpaca.min.js')}}"></script>

        <title>WoW DPS Sim</title>
    </head>
    <body>
        <div id="form"></div>
        <div id="stats"></div>
        <div id="sim_results"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#form").alpaca({
                    "schema": {
                        "title": "WoW DPS Sim",
                        "type": "object",
                        "properties": {
                            "faction": {
                                "type": "string",
                                "title": "Faction",
                                // "enum": ["alliance", "horde"],
                                "enum": ["alliance"],
                                "required": true,
                            },
                            "race": {
                                "type": "string",
                                "title": "Race",
                                // "enum": ["dwarf", "gnome", "human", "nightelf", "orc", "tauren", "troll", "undead"],
                                "enum": ["human"],
                                "required": true,
                            },
                            "class": {
                                "type": "string",
                                "title": "Class",
                                // "enum": ["druid", "hunter", "mage", "paladin", "priest", "rogue", "shaman", "warlock", "warrior"],
                                "enum": ["warrior"],
                                "required": true,
                            },
                            "spec_druid": {
                                "type": "string",
                                "title": "Spec",
                                "enum": ["balance", "feral_combat", "restoration"],
                                "required": true,
                            },
                            "spec_hunter": {
                                "type": "string",
                                "title": "Spec",
                                "enum": ["beast_mastery", "marksmanship", "survival"],
                                "required": true,
                            },
                            "spec_mage": {
                                "type": "string",
                                "title": "Spec",
                                "enum": ["arcane", "fire", "frost"],
                                "required": true,
                            },
                            "spec_paladin": {
                                "type": "string",
                                "title": "Spec",
                                "enum": ["holy", "protection", "retribution"],
                                "required": true,
                            },
                            "spec_priest": {
                                "type": "string",
                                "title": "Spec",
                                "enum": ["discipline", "holy", "shadow"],
                                "required": true,
                            },
                            "spec_rogue": {
                                "type": "string",
                                "title": "Spec",
                                "enum": ["assassination", "combat", "subtlety"],
                                "required": true,
                            },
                            "spec_shaman": {
                                "type": "string",
                                "title": "Spec",
                                "enum": ["elemental", "enhancement", "restoration"],
                                "required": true,
                            },
                            "spec_warlock": {
                                "type": "string",
                                "title": "Spec",
                                "enum": ["affliction", "demonology", "destruction"],
                                "required": true,
                            },
                            "spec_warrior": {
                                "type": "string",
                                "title": "Spec",
                                // "enum": ["arms", "fury", "protection"],
                                "enum": ["fury"],
                                "required": true,
                            },

                            // Vanilla pre-raid ~BIS
                            /*
                            "item_head": {
                                "type": "string",
                                "title": "Head",
                                "default": "12640",
                            },
                            "item_neck": {
                                "type": "string",
                                "title": "Neck",
                                "default": "15411",
                            },
                            "item_shoulder": {
                                "type": "string",
                                "title": "Shoulder",
                                "default": "12927",
                            },
                            "item_back": {
                                "type": "string",
                                "title": "Back",
                                "default": "13340",
                            },
                            "item_chest": {
                                "type": "string",
                                "title": "Chest",
                                "default": "18530",
                            },
                            "item_wrist": {
                                "type": "string",
                                "title": "Wrist",
                                "default": "12936",
                            },
                            "item_hands": {
                                "type": "string",
                                "title": "Hands",
                                "default": "15063",
                            },
                            "item_waist": {
                                "type": "string",
                                "title": "Waist",
                                "default": "13959",
                            },
                            "item_legs": {
                                "type": "string",
                                "title": "Legs",
                                "default": "15062",
                            },
                            "item_feet": {
                                "type": "string",
                                "title": "Feet",
                                "default": "12555",
                            },
                            "item_ring_1": {
                                "type": "string",
                                "title": "Ring 1",
                                "default": "17713",
                            },
                            "item_ring_2": {
                                "type": "string",
                                "title": "Ring 2",
                                "default": "18500",
                            },
                            "item_trinket_1": {
                                "type": "string",
                                "title": "Trinket 1",
                                "default": "11815",
                            },
                            "item_trinket_2": {
                                "type": "string",
                                "title": "Trinket 2",
                                "default": "13965",
                            },
                            "item_main_hand": {
                                "type": "string",
                                "title": "Main Hand",
                                "default": "17705",
                            },
                            "item_off_hand": {
                                "type": "string",
                                "title": "Off Hand",
                                "default": "15806",
                            },
                            "item_ranged": {
                                "type": "string",
                                "title": "Ranged",
                                "default": "18323",
                            },
                            */

                            // Vanilla Naxx ~BIS
                            /*
                            "item_head": {
                                "type": "string",
                                "title": "Head",
                                "default": "12640",
                            },
                            "item_neck": {
                                "type": "string",
                                "title": "Neck",
                                "default": "19377",
                            },
                            "item_shoulder": {
                                "type": "string",
                                "title": "Shoulder",
                                "default": "21330",
                            },
                            "item_back": {
                                "type": "string",
                                "title": "Back",
                                "default": "23045",
                            },
                            "item_chest": {
                                "type": "string",
                                "title": "Chest",
                                "default": "23000",
                            },
                            "item_wrist": {
                                "type": "string",
                                "title": "Wrist",
                                "default": "22936",
                            },
                            "item_hands": {
                                "type": "string",
                                "title": "Hands",
                                "default": "21581",
                            },
                            "item_waist": {
                                "type": "string",
                                "title": "Waist",
                                "default": "23219",
                            },
                            "item_legs": {
                                "type": "string",
                                "title": "Legs",
                                "default": "23068",
                            },
                            "item_feet": {
                                "type": "string",
                                "title": "Feet",
                                "default": "19387",
                            },
                            "item_ring_1": {
                                "type": "string",
                                "title": "Ring 1",
                                "default": "19384",
                            },
                            "item_ring_2": {
                                "type": "string",
                                "title": "Ring 2",
                                "default": "17063",
                            },
                            "item_trinket_1": {
                                "type": "string",
                                "title": "Trinket 1",
                                "default": "23041",
                            },
                            "item_trinket_2": {
                                "type": "string",
                                "title": "Trinket 2",
                                "default": "22954",
                            },
                            "item_main_hand": {
                                "type": "string",
                                "title": "Main Hand",
                                "default": "23054",
                            },
                            "item_off_hand": {
                                "type": "string",
                                "title": "Off Hand",
                                "default": "23577",
                            },
                            "item_ranged": {
                                "type": "string",
                                "title": "Ranged",
                                "default": "22812",
                            },
                            */

                            // BC pre-raid ~BIS
                            "item_head": {
                                "type": "string",
                                "title": "Head",
                                "default": "28224",
                            },
                            "item_neck": {
                                "type": "string",
                                "title": "Neck",
                                "default": "29381",
                            },
                            "item_shoulder": {
                                "type": "string",
                                "title": "Shoulder",
                                "default": "33173",
                            },
                            "item_back": {
                                "type": "string",
                                "title": "Back",
                                "default": "24259",
                            },
                            "item_chest": {
                                "type": "string",
                                "title": "Chest",
                                "default": "30258",
                            },
                            "item_wrist": {
                                "type": "string",
                                "title": "Wrist",
                                "default": "23537",
                            },
                            "item_hands": {
                                "type": "string",
                                "title": "Hands",
                                "default": "29503",
                            },
                            "item_waist": {
                                "type": "string",
                                "title": "Waist",
                                "default": "29247",
                            },
                            "item_legs": {
                                "type": "string",
                                "title": "Legs",
                                "default": "30538",
                            },
                            "item_feet": {
                                "type": "string",
                                "title": "Feet",
                                "default": "25686",
                            },
                            "item_ring_1": {
                                "type": "string",
                                "title": "Ring 1",
                                "default": "31920",
                            },
                            "item_ring_2": {
                                "type": "string",
                                "title": "Ring 2",
                                "default": "28323",
                            },
                            "item_trinket_1": {
                                "type": "string",
                                "title": "Trinket 1",
                                "default": "29383",
                            },
                            "item_trinket_2": {
                                "type": "string",
                                "title": "Trinket 2",
                                "default": "28034",
                            },
                            "item_main_hand": {
                                "type": "string",
                                "title": "Main Hand",
                                "default": "28437",
                            },
                            "item_off_hand": {
                                "type": "string",
                                "title": "Off Hand",
                                "default": "23542",
                            },
                            "item_ranged": {
                                "type": "string",
                                "title": "Ranged",
                                "default": "29151",
                            },

                            "meta_socket_active": {
                                "type": "boolean",
                                "title": "Meta socket active",
                                "default": true,
                            },
                            "sockets_agi": {
                                "type": "string",
                                "title": "Agility from sockets",
                                "description": "Including socket bonuses and meta gem",
                                "default": 12,
                            },
                            "sockets_sta": {
                                "type": "string",
                                "title": "Stamina from sockets",
                                "description": "Including socket bonuses and meta gem",
                                "default": 9,
                            },
                            "sockets_str": {
                                "type": "string",
                                "title": "Strength from sockets",
                                "description": "Including socket bonuses and meta gem",
                                "default": 16,
                            },
                            "sockets_ap": {
                                "type": "string",
                                "title": "Attack Power from sockets",
                                "description": "Including socket bonuses and meta gem",
                                "default": 14,
                            },
                            "sockets_crit_rating": {
                                "type": "string",
                                "title": "Crit Rating from sockets",
                                "description": "Including socket bonuses and meta gem",
                                "default": 7,
                            },
                            "sockets_hit_rating": {
                                "type": "string",
                                "title": "Hit Rating from sockets",
                                "description": "Including socket bonuses and meta gem",
                                "default": 6,
                            },
                            "sockets_haste_rating": {
                                "type": "string",
                                "title": "Haste Rating from sockets",
                                "description": "Including socket bonuses and meta gem",
                                "default": 0,
                            },
                        },

                        "dependencies": {
                            "spec_druid": ["class"],
                            "spec_hunter": ["class"],
                            "spec_mage": ["class"],
                            "spec_paladin": ["class"],
                            "spec_priest": ["class"],
                            "spec_rogue": ["class"],
                            "spec_shaman": ["class"],
                            "spec_warlock": ["class"],
                            "spec_warrior": ["class"],
                        },
                    },

                    "options": {
                        "form":{
                            "buttons": {
                                "calc_stats": {
                                    "title": "Calc stats",
                                    "click": function() {
                                        fetch("/", {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json",
                                            },
                                            body: JSON.stringify(this.getValue()),
                                        })
                                        .then(response => response.text())
                                        .then(text => $("#stats").html(text));
                                    },
                                },
                                "sim": {
                                    "title": "Simulate",
                                    "click": function() {
                                        fetch("/sim", {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json",
                                            },
                                            body: JSON.stringify(this.getValue()),
                                        })
                                        .then(response => response.text())
                                        .then(text => $("#sim_results").html(text));
                                    },
                                },
                            }
                        },
                        "fields": {
                            "faction": {
                                "type": "select",
                                // "optionLabels": ["Alliance", "Horde"],
                                "optionLabels": ["Alliance"],
                            },
                            "race": {
                                "type": "select",
                                // "optionLabels": ["Dwarf", "Gnome", "Human", "Nightelf", "Orc", "Tauren", "Troll", "Undead"],
                                "optionLabels": ["Human"],
                            },
                            "class": {
                                "type": "select",
                                // "optionLabels": ["Druid", "Hunter", "Mage", "Paladin", "Priest", "Rogue", "Shaman", "Warlock", "Warrior"],
                                "optionLabels": ["Warrior"],
                            },
                            "spec_druid": {
                                "type": "select",
                                "optionLabels": ["Balance", "Feral Combat", "Restoration"],
                                "dependencies": {
                                    "class": "druid",
                                },
                            },
                            "spec_hunter": {
                                "type": "select",
                                "optionLabels": ["Beast Mastery", "Marksmanship", "Survival"],
                                "dependencies": {
                                    "class": "hunter",
                                },
                            },
                            "spec_mage": {
                                "type": "select",
                                "optionLabels": ["Arcane", "Fire", "Frost"],
                                "dependencies": {
                                    "class": "mage",
                                },
                            },
                            "spec_paladin": {
                                "type": "select",
                                "optionLabels": ["Holy", "Protection", "Retribution"],
                                "dependencies": {
                                    "class": "paladin",
                                },
                            },
                            "spec_priest": {
                                "type": "select",
                                "optionLabels": ["Discipline", "Holy", "Shadow"],
                                "dependencies": {
                                    "class": "priest",
                                },
                            },
                            "spec_rogue": {
                                "type": "select",
                                "optionLabels": ["Assassination", "Combat", "Subtlety"],
                                "dependencies": {
                                    "class": "rogue",
                                },
                            },
                            "spec_shaman": {
                                "type": "select",
                                "optionLabels": ["Elemental", "Enhancement", "Restoration"],
                                "dependencies": {
                                    "class": "shaman",
                                },
                            },
                            "spec_warlock": {
                                "type": "select",
                                "optionLabels": ["Affliction", "Demonology", "Destruction"],
                                "dependencies": {
                                    "class": "warlock",
                                },
                            },
                            "spec_warrior": {
                                "type": "select",
                                // "optionLabels": ["Arms", "Fury", "Protection"],
                                "optionLabels": ["Fury"],
                                "dependencies": {
                                    "class": "warrior",
                                },
                            },
                        },
                    },
                });
            });
        </script>
    </body>
</html>
